ic_launcher-web.png
pio.txt
proguard-project.txt
*.properties
*.jar
*/libs
WebContent/
build/
.classpath
.project
.settings/
.DS_Store
*.impl
*.iml


.idea/workspace.xml
.idea/libraries
.idea/gradle.xml
.idea/modules.xml
.idea/misc.xml
.idea/**/*

.gradle/*
.idea/*
*/build/*